---
- name: create syseng groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  with_items: "{{ syseng_access_groups }}"
  register: create_syseng_groups

- name: create syseng users
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups: "{{ syseng_access_groups | join(',') }}"
    append: yes
    shell: /bin/bash
  with_items: "{{ syseng_access_users }}"
  ignore_errors: "{{ ansible_check_mode and create_syseng_groups.changed }}"

- name: import user ssh-keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    key: "{{ lookup('file', '{{ item.pubkey }}') }}"
    exclusive: false
  with_items: "{{ syseng_access_users }}"
  ignore_errors: "{{ ansible_check_mode }}"

# Confirm include directory exists with the proper permissions
- name: create /etc/sudoers.d dir
  ansible.builtin.file:
    path: /etc/sudoers.d
    owner: root
    group: root
    mode: 0750
    state: directory

- name: configure syseng sudo rights
  ansible.builtin.template:
    src: sudoers.d/sysengadmins
    dest: /etc/sudoers.d/sysengadmins
    owner: root
    group: root
    mode: 0400

# Confirm include directory exists in /etc/sudoers
- name: configure sudoers include directory (RedHat)
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^#includedir \/etc\/sudoers.d'
    line: '#includedir /etc/sudoers.d'
  when: ansible_facts['os_family'] == 'RedHat'
- name: configure sudoers include directory (Debian)
  ansible.builtin.lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: '^@includedir \/etc\/sudoers.d'
    line: '@includedir /etc/sudoers.d'
  when: ansible_facts['os_family'] == 'Debian'
