{{ ansible_managed | comment }}

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
{% if prometheus_tls_enabled %}
    scheme: https
    tls_config:
      insecure_skip_verify: {{ prometheus_tls_insecure_skip_verify }}
{% endif %}
{% if prometheus_basic_auth_enabled %}
    basic_auth:
      username: {{ prometheus_basic_auth_username }}
      password_file: {{ prometheus_basic_auth_scrape_pass }}
{% endif %}
    static_configs:
      - targets: ["{{ prometheus_scrape_hostname }}:9090"]
