{{ ansible_managed | comment }}

global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
{% if prometheus_tls_enabled %}
    scheme: https
    tls_config:
      insecure_skip_verify: true
{% endif %}
    static_configs:
      - targets: ["localhost:9090"]
