{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Monitoring System
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="GOMAXPROCS={{ ansible_facts['processor_vcpus'] | default(ansible_facts['processor_count']) }}"
User={{ prometheus_system_user }}
Group={{ prometheus_system_group }}

ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ prometheus_binary_install_dir }}/prometheus \
  --config.file={{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus_db_dir }} \
  --storage.tsdb.retention.time={{ prometheus_storage_retention }} \
{% if prometheus_storage_retention_size | string != '0' %}
  --storage.tsdb.retention.size={{ prometheus_storage_retention_size }} \
{% endif %}
  --web.listen-address={{ prometheus_web_listen_address }} \
{% if prometheus_tls_enabled or prometheus_basic_auth_enabled %}
  --web.config.file={{ prometheus_config_dir }}/web-config.yml \
{% endif %}
{% for flag in prometheus_extra_flags %}
  {{ flag }} \
{% endfor %}
  --web.enable-lifecycle

SyslogIdentifier=prometheus
Restart=always
TimeoutStopSec=300s

PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths={{ prometheus_db_dir }}

[Install]
WantedBy=multi-user.target
