---
- name: Restart prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    state: restarted
    daemon_reload: true

- name: Reload prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    state: reloaded
