---
- name: Restart prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    state: restarted
    daemon_reload: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Reload prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    state: reloaded
  ignore_errors: "{{ ansible_check_mode }}"
