---

- name: Set a hostname
  ansible.builtin.hostname:
    name: "{{ fq_hostname }}"

- name: Configure /etc/hosts
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644
    backup: true
