---

# Incus - Add package repository
- name: Create keyrings path
  ansible.builtin.file:
    path: /usr/share/keyrings/
    mode: 0755
    state: directory

- name: Check for Zabbly GPG key
  ansible.builtin.stat:
    path: /usr/share/keyrings/zabbly.gpg
  register: zabbly_gpg_key_stat

- name: Download Zabbly armored gpg public key
  ansible.builtin.get_url:
    url: "{{ incus_setup_zabbly_gpg_key_url }}"
    dest: "{{ incus_setup_zabbly_gpg_key_download_path }}"
    checksum: "{{ incus_setup_zabbly_gpg_key_checksum }}"
  register: zabbly_gpg_key_download
  # when: not zabbly_gpg_key_stat.stat.exists

- name: planning to run - Add Zabbly GPG key
  ansible.builtin.debug:
    msg: |-
      cat {{ incus_setup_zabbly_gpg_key_download_path }} | gpg --dearmor --batch --yes -o {{ incus_setup_zabbly_gpg_key_install_path }}
  changed_when: ansible_check_mode
  when: zabbly_gpg_key_download.changed
- name: Add Zabbly GPG key
  ansible.builtin.shell:
    cmd: |-
      cat {{ incus_setup_zabbly_gpg_key_download_path }} | gpg --dearmor --batch --yes -o {{ incus_setup_zabbly_gpg_key_install_path }}
  when: zabbly_gpg_key_download.changed

- name: Get DPKG architecture (for incus.sources template)
  shell: dpkg --print-architecture
  register: dpkg_architecture
  changed_when: false
  check_mode: no

- name: Add Zabbly package source
  ansible.builtin.template:
    src: incus.sources.j2
    dest: /etc/apt/sources.list.d/zabbly-incus-{{ incus_release }}.sources
  notify: Update apt

- name: Ensure handlers are notified now
  ansible.builtin.meta: flush_handlers



# Incus - Install packages
- name: Install the Incus package
  ansible.builtin.apt:
    name:
      - incus
    install_recommends: no
    state: present
  register: incus_install
  ignore_errors: "{{ ansible_check_mode }}"

- name: Install the Incus UI package
  ansible.builtin.apt:
    name:
      - incus-ui-canonical
    install_recommends: no
    state: present
  ignore_errors: "{{ ansible_check_mode }}"



# Incus - Bootstrap
- name: planning to run - Set client listen address
  ansible.builtin.debug:
    msg: |-
      incus --force-local config set core.https_address {{ incus_ip_address }}:{{ incus_https_port }}
  changed_when: ansible_check_mode
  when: incus_install.changed 
- name: Set client listen address
  ansible.builtin.shell:
    cmd: |-
      incus --force-local config set core.https_address {{ incus_ip_address }}:{{ incus_https_port }}
  when: incus_install.changed 

- name: planning to run - Add networks
  ansible.builtin.debug:
    msg: |-
      incus network create {{ item.key }} --type={{ item.value.type }}{% for k in item.value.local_config | default([]) %} {{ k }}={{ item.value.local_config[k] }}{% endfor %}{% for k in item.value.config | default([]) %} {{ k }}={{ item.value.config[k] }}{% endfor %}
  loop: "{{ incus_network | dict2items }}"
  changed_when: ansible_check_mode
  when: incus_install.changed 
- name: Add networks
  ansible.builtin.shell:
    cmd: |-
      incus network create {{ item.key }} --type={{ item.value.type }}{% for k in item.value.local_config | default([]) %} {{ k }}={{ item.value.local_config[k] }}{% endfor %}{% for k in item.value.config | default([]) %} {{ k }}={{ item.value.config[k] }}{% endfor %}
  loop: "{{ incus_network | dict2items }}"
  when: incus_install.changed 

- name: planning to run - Add storage pools
  ansible.builtin.debug:
    msg: |-
      incus storage create {{ item.key }} {{ item.value.driver }}{% for k in item.value.local_config | default([]) %} {{ k }}={{ item.value.local_config[k] }}{% endfor %}{% for k in item.value.config | default([]) %} {{ k }}={{ item.value.config[k] }}{% endfor %}
  loop: "{{ incus_storage | dict2items }}"
  changed_when: ansible_check_mode
  when: incus_install.changed 
- name: Add storage pools
  ansible.builtin.shell:
    cmd: |-
      incus storage create {{ item.key }} {{ item.value.driver }}{% for k in item.value.local_config | default([]) %} {{ k }}={{ item.value.local_config[k] }}{% endfor %}{% for k in item.value.config | default([]) %} {{ k }}={{ item.value.config[k] }}{% endfor %}
  loop: "{{ incus_storage | dict2items }}"
  when: incus_install.changed

- name: planning to run - Add storage pool to default profile
  ansible.builtin.debug:
    msg: |-
      incus profile device add default root disk path=/ pool={{ item }}
  loop: "{{ incus_storage | dict2items | json_query('[?value.default].key') }}"
  changed_when: ansible_check_mode
  when: incus_install.changed 
- name: Add storage pool to default profile
  ansible.builtin.shell:
    cmd: |-
      incus profile device add default root disk path=/ pool={{ item }}
  loop: "{{ incus_storage | dict2items | json_query('[?value.default].key') }}"
  when: incus_install.changed

- name: planning to run - Add network to default profile
  ansible.builtin.debug:
    msg: |-
      incus profile device add default eth0 nic network={{ item }} name=eth0
  loop: "{{ incus_network | dict2items | json_query('[?value.default].key') }}"
  changed_when: ansible_check_mode
  when: incus_install.changed 
- name: Add network to default profile
  ansible.builtin.shell:
    cmd: |-
      incus profile device add default eth0 nic network={{ item }} name=eth0
  loop: "{{ incus_network | dict2items | json_query('[?value.default].key') }}"
  when: incus_install.changed



# Make sure LVM is ignoring ZFS volumes on the host so it doesn't try to use guest LVM volumes

# This should result in /etc/lvm/lvm.conf containing something like
# devices {
# 	# global_filter = [ "a|.*|" ]
#   global_filter = [ "r|/dev/zd.*|" ] 
# }

- name: Test LVM global_filter config value
  ansible.builtin.shell:
    cmd: |-
      lvs --config 'devices{ global_filter = {{ incus_lvm_global_filter_list }} }'
  check_mode: false
  changed_when: false
  ignore_errors: "{{ ansible_check_mode }}"

- name: Add global_filter config to LVM config file
  ansible.builtin.lineinfile:
    path: /etc/lvm/lvm.conf
    regexp: '^\s*global_filter\s*=\s*'
    insertafter: '^\s*#\s*global_filter\s*=\s*'
    line: "	global_filter = {{ incus_lvm_global_filter_list }}"



# Support for externally managed certs
- name: Setup list of externally managed certs
  ansible.builtin.include_tasks:
    file: externally_managed_certs.yml
  loop: "{{ incus_externally_managed_certs }}"
  loop_control:
    loop_var: each_cert

- name: Setup certbot deploy hooks for incus
  ansible.builtin.include_tasks:
    file: certbot_deploy_hooks.yml



- name: Ensure handlers are notified now
  ansible.builtin.meta: flush_handlers
