[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ node_exporter_system_user }}
Group={{ node_exporter_system_group }}
Type=simple
ExecStart={{ node_exporter_binary_install_dir }}/node_exporter \
{% if node_exporter_tls_enabled or node_exporter_basic_auth_enabled %}
  --web.config.file={{ node_exporter_config_dir }}/web-config.yml \
{% endif %}
{% for collector in node_exporter_enabled_collectors %}
  --collector.{{ collector }} \
{% endfor %}
{% for collector in node_exporter_disabled_collectors %}
  --no-collector.{{ collector }} \
{% endfor %}
{% for flag in node_exporter_extra_flags %}
  {{ flag }} \
{% endfor %}
  --web.listen-address={{ node_exporter_web_listen_address }}
Restart=always
RestartSec=5

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ node_exporter_config_dir }}

[Install]
WantedBy=multi-user.target
