{{ ansible_managed | comment }}

{% if node_exporter_tls_enabled %}
tls_server_config:
  cert_file: {{ node_exporter_tls_cert_path }}
  key_file: {{ node_exporter_tls_key_path }}

{% endif %}
{% if node_exporter_basic_auth_enabled %}
basic_auth_users:
  {{ node_exporter_basic_auth_username }}: "{{ node_exporter_basic_auth_password_hash }}"
{% endif %}
